* {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 235, 208);
}

button {
  background-color: orange;
  color: white;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
}
button:active {
  background-color: red;
}

#field {
  width: 310px;
  height: 60px;
  margin-bottom: 30px;
  background-color: white;
  font-size: 30px;
  border-radius: 34px 34px 35px 36px;
  -webkit-border-radius: 34px 34px 35px 36px;
  -moz-border-radius: 34px 34px 35px 36px;}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn1,
.btn2,
.btn3,
.btn4 {
  margin: 5px;
  font-size:150%;
}
.main2 {
  background-color: rgba(245, 245, 245, 0.322);
  width: 400px;
  height: 400px;
}
#clear {
  position: relative;
  left: 10%;
  background-color: rgba(255, 0, 0, 0.747);
}
#clear:active {
  background-color: yellowgreen;
}
sup {
  background-color: transparent;
}
